<div class="row">
    <section class="main col-md-9">
        <article>
            {{#if data.post}}
            <h2>{{data.post.title}}</h2>
            <img src="{{data.post.featureImage}}" style="width:100%" />
            <br /><br />
            {{#safeHTML data.post.body}}
            {{/safeHTML}}
            <br /><br />
            <strong>Category:</strong> {{data.post.category}}<br />
            <strong>Last Updated:</strong> {{formatDate data.post.postDate}}
            {{else}}
            <h2>{{data.message}}</h2>
            <p>Please try another Post / Category</p>
            {{/if}}
        </article>
    </section>

    <aside class="col-md-3">
        <br /><br />
        {{#if data.posts}}
        <h4>Posts</h4>

        <ul class="list-group">
            {{#each data.posts}}
            <a href="/blog/{{this.id}}?category={{../viewingCategory}}" class="list-group-item">{{this.title}}</a>
            {{/each}}
        </ul>
        {{/if}}
        {{#if data.categories}}
        <h4>Categories</h4>

        <ul class="list-group">
            {{#each data.categories}}
            <a href="/blog?category={{this.id}}" class="list-group-item">{{this.category}}</a>
            {{/each}}
        </ul>
        {{else}}
        <ul class="list-group">
            <a href="#" class="list-group-item">{{data.categoriesMessage}}</a>
        {{/if}}
    </aside>
</div>